@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar-brand, span {
    font-size: 18px;
    font-family: sans-serif;
}

.navbar-toggler {
    border: 2px solid #b6b6b6dd;
    border-radius: 5px;
}

.navbar-toggler span i {
    font-size: 18px;
}

.navbar-nav {
    margin-inline: 50px;
}

.navbar-nav a.nav-link {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

.navbar-profile {
    text-decoration: none;
    color: #000000;
    display: flex;
}

.navbar-profile img {
    height: 45px;
    width: 45px;
    border-radius: 360px;
}

.navbar-profile img:hover {
    border: 2px solid #3a3939;
    transition: all 0.4s;

}

.navbar-profile span {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-inline: 5px;
}

.profile-details .email {
    font-size: 10px;
    color: #808080dd;
}

#home {
    padding: 10%;
    background-image: url("/images/arnold-francisca-f77Bh3inUpE-unsplash.jpg");
    background-size: cover;
    height: 550px;
    z-index: 1;
}

#home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 550px;
}

#home .profile-bio {
    color: #fff;
    display: block;
    margin-top: 50px;
    width: 700px;
}

#about .container {
    padding: 70px;
    width: 100%;
    margin-block: 50px;
}

#about h2 {
    color: #252525;
    font-size: 24px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#about p {
    color: #818080;
    padding-inline: 20px;
    font-style: italic;
}

#services {
    padding: 50px;
    text-align: center;
    margin-top: 50px;
}

#services .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}

#services h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 24px;
}

.service {
    display: block;
    width: 200px;
    text-align: center;
}

.service img{ 
    height: 100px;
    width: 100px;
    border-radius: 360px;
    border: 1px solid #818080;
}

.service h5 {
    margin: 7px;
    font: 24px;
}

.service p {
    font-size: 11px;
    color: #818080;
}

#contact {
    padding: 20px;
    text-align: center;
    color: #ffff;

}

#contact .contact-card {
    display: block;
    margin: 20px;
}

.contact-card img {
    height: 85px;
    width: 85px;
    border: 1px solid #818080;
    border-radius: 360px;
}

.contact-card h4 {
    font-size: 20px;
    margin-top: 10px;
}

.contact-card p.email {
    color: #818080;
    font-size: 10px;
    margin-top: -5px;
}

.contact-card p.phone {
    color: #818080;
    font-size: 10px;
    margin-top: -14px;
}

.contact-card .social-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social-media a i {
    color: rgb(223, 223, 31);
    margin: 7px;
    font-size: 24px;
}

@media screen and (max-width: 769px) {
    body {
        height: 100%;
        width: 100%;
    }

    #home, #home::after {
        height: 350px;
    }

    #home .profile-bio {
        width: 300px;
        margin-top: 60px;
    }

    #home .profile-bio p {
        font-size: 12px;
        font-style: italic;
    }

    #about .container {
        padding: 30px;
        font-size: 12px;
        height: 300px;
    }

    .service img {
        height: 70px;
        width: 70px;
    }
}






