body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.nav__bar {
    height: 20%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .social__media {
        a i {
            font-size: 20px;
            font-weight: 500;
            color: rgb(167, 167, 167);
            margin: 0px 5px;
        }
    }

    .right__side {
        a:hover {
            box-shadow: 0px 0px 10px rgba(158, 157, 157, 0.493);
            transition: box-shadow 0.4s ease-in;
        }
    }
}

#bio__section {
    width: 100%;
    height: 80%;

    .container {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

#projects__section {
    width: 100%;
    height: auto;
    text-align: center;

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

#track__record {
    width: 100%;
    height: 100vh;
}

#tech__stack {
    width: 100%;
    height: 80vh;
}

/* Tablet (768px and below) */
@media (max-width: 900px) and (min-width: 481px) {
    .nav__bar {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

        div.social__media {
            display: block;
            margin: 10px 0px 0px 0px;
        }

        .nav__links {
            gap: 10px;

            li a {
                font-size: 14px;
            }
        }
    }

    #bio__section {
        background-color: red;
        padding-top: 60px;

        h3 {
            font-size: 30px;
        }
    }

    #track__record {
        height: 80vh;

        .container {
            margin-top: 30px;
            flex-direction: column-reverse;
        }

        .profile-image {
            img {
                width: 150px;
                height: 150px;
            }
        }

        .stats {
            gap: 5px;
            flex-direction: row;
            width: 95%;
            margin-top: 10px;

            div {
                width: 40%;
            }
        }
    }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .nav__bar {
        padding: 10px;
        gap: 10px;
        display: flex;
        flex-direction: row;

        .nav__links {
            width: 100%;

            ul {
                li a {
                    font-size: 11px;
                }
            }
        }

        .social__media,
        .right__side {
            display: none;
        }
    }

    #bio__section {
        .container {
            width: 90%;

            h3 {
                font-size: 20px;
            }

            p {
                width: 90%;
            }
        }
    }

    #track__record {
        height: 75vh;
        margin: 20px 0px;

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 11px;
            margin: 7px 0px;
        }

        .container {
            flex-direction: column-reverse;

            .stats {
                margin-top: 20px;
                /* flex-direction: column; */
                width: 90%;

                div {
                    width: 40%;
                    margin: 10px;

                }
            }
        }
    }
}

/* Large screens (1200px and above) */
@media (min-width: 1200px) {
    .nav__bar {
        padding: 25px;
    }
}