body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.nav__bar {
    height: 20%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .social__media {
        a i {
            font-size: 20px;
            font-weight: 500;
            color: rgb(167, 167, 167);
            margin: 0px 5px;
        }
    }

    .right__side {
        a:hover {
            box-shadow: 0px 0px 10px rgba(158, 157, 157, 0.493);
            transition: box-shadow 0.4s ease-in;
        }
    }
}

#bio__section {
    width: 100%;
    height: 80%;

    .container {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}

#projects__section {
    width: 100%;
    height: auto;
    text-align: center;

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

#track__record {
    width: 100%;
    height: 100vh;


}

#tech__stack {
    width: 100%;
    height: 100%;

    #sub__inner {
        div:hover {
            background-color: orangered;
            color: #fff;
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.493);
            transition: box-shadow 0.9s ease-in, background-color 0.5s ease-in;

            a, p{
                color: #fff;
            }
        }
    }
}

#testmonials {
    width: 100%;
    height: auto;
    text-align: center;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
}



/* Tablet (768px and below) */
@media (max-width: 900px) and (min-width: 481px) {
    .nav__bar {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

        div.social__media {
            display: block;
            margin: 10px 0px 0px 0px;
        }

        .nav__links {
            gap: 10px;

            li a {
                font-size: 14px;
            }
        }
    }

    #bio__section {
        background-color: red;
        padding-top: 60px;

        h3 {
            font-size: 30px;
        }
    }

    #track__record {
        height: 70vh;

        .container {
            margin-top: 30px;
            flex-direction: column-reverse;
        }

        .profile-image {
            img {
                width: 150px;
                height: 150px;
            }
        }

        .stats {
            gap: 5px;
            flex-direction: row;
            width: 95%;
            margin-top: 10px;

            div {
                width: 40%;
            }
        }
    }

    #tech__stack {
        .container {
            display: block;
            padding: 0 auto;
        }

        #inner-1,
        #inner-2 {
            width: 90%;
            display: block;
            margin: 0 auto;
        }
    }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .nav__bar {
        padding: 10px;
        gap: 10px;
        display: flex;
        flex-direction: row;

        .nav__links {
            width: 100%;

            ul {
                li a {
                    font-size: 11px;
                }
            }
        }

        .social__media,
        .right__side {
            display: none;
        }
    }

    #bio__section {
        .container {
            width: 90%;

            h3 {
                font-size: 20px;
            }

            p {
                width: 90%;
            }
        }
    }

    #track__record {
        height: 75vh;
        margin: 20px 0px;

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 11px;
            margin: 7px 0px;
        }

        .container {
            flex-direction: column-reverse;

            .stats {
                margin-top: 20px;
                /* flex-direction: column; */
                width: 90%;

                div {
                    width: 40%;
                    margin: 10px;

                }
            }
        }
    }

    #tech__stack {
        h3 {
            font-size: 20px;
        }

        p {
            font-size: 12px;
        }


        .container {
            padding: 10px;
            display: block;
            width: 100%;

            #inner-1 {

                width: 100%;
                padding: 0;

                #stack__card {
                    width: 90%;
                    margin: 0 auto;
                    padding-block: 20px;

                    h3 {
                        font-size: 15px;
                    }

                    h1 {
                        font-size: 18px;
                    }

                    p {
                        width: 100%;
                    }

                    i {
                        font-size: 25px;
                        display: block;
                    }
                }

                #sub__inner {
                    flex-direction: column;

                    div {
                        width: 90%;
                    }
                }
            }

            #inner-2 {
                width: 100%;

                div {
                    height: 45%;

                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }

    }
}

/* Large screens (1200px and above) */
@media (min-width: 1200px) {
    .nav__bar {
        padding: 25px;
    }
}