@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

html,
body {
    margin: auto;
    padding: 0;
}

.heading {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family:  'Coiny', cursive;
    font-weight: 200;
    text-transform: uppercase;  
}

.nav {
    margin: 0 auto;
    display: flex;
    background: #101010;
    padding: 0;
}

.nav-item {
    padding: 10px;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.active {
    background: orange;
}

.nav-item:hover {
    background: black;
    opacity: 0.8;
}

.content {
    margin: auto;
    max-width: 700px;
    padding-top: 20px;
}

p {
    padding-top: 20px;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
}

.contact-form {
    border: 0.5px solid black;
    margin-bottom: 30px;
}

.contact-form:hover {
    transform: scale(1.007);
    transition: background 0.4s;
}